.animals {
    text-align: center;
}
.image {
  margin: 10px;
  display: inline-block;
}
.image > a > img {
  height:50%;
  width:100%;
}
.button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.heading{
  text-align: center;
  font-family:'Ubuntu', sans-serif;
  font-weight: bold;
}
.button2{
    background-color: #008CBA;
}
#about {
    text-align:center;
    background-color: #f9ea60;
    margin:0;
    color:black;
}
#about > .about-header {
    padding:10px;
    border-bottom: 2px solid black;
    display: inline-block;
    font-weight: bolder;
    font-size: 30px;
}
#about > .about-text {
   padding:5px;
}    
